{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "react/jsx-indent": [2, 2],
    "react/prop-types": [0]
  },
  "settings": {
    "react": {
      "version": "lastest"
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__static": true
  }
}
